<div class="">
    <table class="sudoku-grid">
        <tr>
            <td class="h1 v1"><input type="text"></td>
            <td class="v1"><input type="text"></td>
            <td class="h3 v1"><input type="text"></td>
            <td class="h4 v1"><input type="text"></td>
            <td class="v1"><input type="text"></td>
            <td class="h6 v1"><input type="text"></td>
            <td class="h7 v1"><input type="text"></td>
            <td class="v1"><input type="text"></td>
            <td class="h9 v1"><input type="text"></td>
        </tr>
        <tr>
            <td class="h1"><input type="text"></td>
            <td><input type="text"></td>
            <td class="h3"><input type="text"></td>
            <td class="h4"><input type="text"></td>
            <td><input type="text"></td>
            <td class="h6"><input type="text"></td>
            <td class="h7"><input type="text"></td>
            <td><input type="text"></td>
            <td class="h9"><input type="text"></td>
        </tr>
        <tr>
            <td class="h1 v3"><input type="text"></td>
            <td class="v3"><input type="text"></td>
            <td class="h3 v3"><input type="text"></td>
            <td class="h4 v3"><input type="text"></td>
            <td class="v3"><input type="text"></td>
            <td class="h6 v3"><input type="text"></td>
            <td class="h7 v3"><input type="text"></td>
            <td class="v3"><input type="text"></td>
            <td class="h9 v3"><input type="text"></td>
        </tr>
       <tr>
            <td class="h1 v4"><input type="text"></td>
            <td class="v4"><input type="text"></td>
            <td class="h3 v4"><input type="text"></td>
            <td class="h4 v4"><input type="text"></td>
            <td class="v4"><input type="text"></td>
            <td class="h6 v4"><input type="text"></td>
            <td class="h7 v4"><input type="text"></td>
            <td class="v4"><input type="text"></td>
            <td class="h9 v4"><input type="text"></td>
        </tr>
        <tr>
            <td class="h1"><input type="text"></td>
            <td><input type="text"></td>
            <td class="h3"><input type="text"></td>
            <td class="h4"><input type="text"></td>
            <td><input type="text"></td>
            <td class="h6"><input type="text"></td>
            <td class="h7"><input type="text"></td>
            <td><input type="text"></td>
            <td class="h9"><input type="text"></td>
        </tr>
        <tr>
            <td class="h1 v6"><input type="text"></td>
            <td class="v6"><input type="text"></td>
            <td class="h3 v6"><input type="text"></td>
            <td class="h4 v6"><input type="text"></td>
            <td class="v6"><input type="text"></td>
            <td class="h6 v6"><input type="text"></td>
            <td class="h7 v6"><input type="text"></td>
            <td class="v6"><input type="text"></td>
            <td class="h9 v6"><input type="text"></td>
        </tr>
        <tr>
            <td class="h1 v7"><input type="text"></td>
            <td class="v7"><input type="text"></td>
            <td class="h3 v7"><input type="text"></td>
            <td class="h4 v7"><input type="text"></td>
            <td class="v7"><input type="text"></td>
            <td class="h6 v7"><input type="text"></td>
            <td class="h7 v7"><input type="text"></td>
            <td class="v7"><input type="text"></td>
            <td class="h9 v7"><input type="text"></td>
        </tr>
        <tr>
            <td class="h1"><input type="text"></td>
            <td><input type="text"></td>
            <td class="h3"><input type="text"></td>
            <td class="h4"><input type="text"></td>
            <td><input type="text"></td>
            <td class="h6"><input type="text"></td>
            <td class="h7"><input type="text"></td>
            <td><input type="text"></td>
            <td class="h9"><input type="text"></td>
        </tr>
        <tr>
            <td class="h1 v9"><input type="text"></td>
            <td class="v9"><input type="text"></td>
            <td class="h3 v9"><input type="text"></td>
            <td class="h4 v9"><input type="text"></td>
            <td class="v9"><input type="text"></td>
            <td class="h6 v9"><input type="text"></td>
            <td class="h7 v9"><input type="text"></td>
            <td class="v9"><input type="text"></td>
            <td class="h9 v9"><input type="text"></td>
        </tr>
    </table>
</div>